.bottomCtn{
    .bottomBtnList{
        display: flex;
        width: 100%;
        background-color: #fff;
        .bottomBtnItem{
            width: 25%;
            text-align: center;
            list-style: none;
            .btnIcon{
                display: block;
                width: 32px;
                height: 32px;
                margin: 10px auto;
            }
            .iconTime{
                background: url("../../images/time.svg") no-repeat center center / 32px 32px;
            }
            .iconSubway{
                background: url("../../images/subway.svg") no-repeat center center / 32px 32px;
            }
            .iconTicket{
                background: url("../../images/ticket.svg") no-repeat center center / 32px 32px;
            }
            .iconFilter{
                background: url("../../images/filter.svg") no-repeat center center / 32px 32px;
            }
        }
    }
    .filterLayerWrap{
        position: absolute;
        top: 0;
        left: 0;
        .filterLayerShadow{
            position: fixed;
            left: 0;
            top: 0;
            width: 100vw;
            height: 100vh;
            padding-top: 120px;
            background-color: rgba(28, 28, 28, 0.51);
            .filterLayerCtn{
                overflow: auto;
                height: calc(100vh - 120px);
                background-color: #fff;
                .topBtnCtn{
                    padding: 12px 14px;
                    border-bottom: 1px solid #eeeeee;
                    .topBtn{
                        background-color: transparent;
                        border: none;
                        color: #ffac3a;
                    }
                }
                .itemTypesCtn{
                    .itemTypesHeader{
                        padding: 12px 14px;
                        font-size: 16px;
                        font-weight: bold;
                    }
                    .itemTypeBtn{
                        display: inline-block;
                        margin: 4px 6px;
                        padding: 6px 14px;
                        border: 1px solid #dadbd7;
                        font-size: 14px;
                        border-radius: 4px;
                    }
                }
                .sliderCtn{
                    .sliderTitle{
                        padding: 12px 14px;
                        font-size: 16px;
                        font-weight: bold;
                    }
                    .sliderContent{
                        position: relative;
                        width: 80%;
                        margin-left: calc(10% - 16px);
                        .bgBar{
                            position: absolute;
                            left: 0;
                            top: 10px;
                            width: 100%;
                            height: 4px;
                            background-color: #f1f0f0;
                        }
                        .selectedBar{
                            position: absolute;
                            left: 0;
                            top: 10px;
                            width: 80%;
                            height: 4px;
                            background-color: #229ee6;
                        }
                        .radius{
                            display: inline-block;
                            position: absolute;
                            top: -6px;
                            width: 32px;
                            height: 32px;
                            background-color: #e5e5e5;
                            border-radius: 50%;
                            .tipTxt{
                                position: absolute;
                                top: -20px;
                                left: 50%;
                                transform: translateX(-50%);
                                color: #2fa1ff;
                            }
                        }
                        .leftRadius{
                            //left: calc(10% - 16px);
                        }
                        .rightRadius{
                            //right: calc(10% - 16px);
                        }
                    }
                }
            }
        }
    }
}
.hidden{
    display: none;
}
.fr{
    float: right;
}